* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::selection {
  background-color:  #ffe2be;
  color: #ff6600;
}
:root {
  --space-lg: 1.5rem;
  --space: 1rem;
  --space-sm: 0.75rem;
  --space-xs: 0.5rem;

  --max-width: 1280px;

  --primary-color: #ff8800;
  --primary-color-alt: #ff6600;
  --gray: #ededed;
  --bg-color: #fff;
  --color-gray-light: #f9f9f9;
  --text-color: #444;
  --border-radius-sm: 5px;
  --border-radius: 10px;
  --border-width: 2px;

  --text-xl: 6rem;
  --text-lg: 2rem;
  --text-action: 1.1rem;
  --text-base: 1rem;
  --text-sm: 0.85rem;

  --letter-spacing: -0.09em;

  --transition: 0.24s ease-in-out;
}
html {
  line-height: 1.65;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--bg-color);
}
body {
  font-feature-settings: 'kern';
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-scroll-behavior: smooth;
    -moz-scroll-behavior: smooth;
    -ms-scroll-behavior: smooth;
    scroll-behavior: smooth;
}
@media only screen and (max-width: 1280px) {
  #App {
    margin: auto var(--space);
  }
}
#big-kite{
  position: fixed;
  z-index: 2;
  bottom: -80px;
  right: 50px;
  margin : auto;
  animation : 20s kite infinite;
  pointer-events: none;
  opacity: .5;
}
@keyframes kite {
  0% , 100% {
    bottom: -90px;
  }
  50% {
    bottom: -40px;
  }
}


main {
  max-width: var(--max-width);
  margin: auto;
  
}

h1 {
  font-weight: 700;
  letter-spacing: var(--letter-spacing);
  font-size: var(--text-xl);
}

button,
input,
select,
textarea {
  border: 0;
  padding: var(--space-xs) var(--space-sm);
  border-radius: var(--border-radius-sm);
  font-size: var(--text-base);
    background-color: var(--gray);
    display: block;
  color: var(--text-color);
  &.active, &.button--primary {
    background-color: var(--primary-color);
    color: white;
  }
  &:hover , &:focus, &:active {
    outline-style: dotted;
    outline-width: var(--border-width);
    outline-offset: var(--space-xs);
    outline-color: var(--gray);
    opacity: .8;
  }
  &[disabled]{
    opacity: .4;
    &:hover , &:focus, &:active {
      outline-width: 0;
    }
  }
}



button {
  cursor: pointer;
}
.badge {
  padding: var(--space-xs) var(--space-sm);
  border-radius: var(--border-radius-sm);
  background-color: var(--gray);
  display: inline-flex;
  align-items: center;
  img { margin-left: var(--space-xs);}
  
  &.active,
  &.primary {
    background-color: var(--primary-color);
    color: white;
  }
}
