
aside {
    padding: var(--space-xs) 0;
    display: flex;
    justify-content: flex-start;
    gap: var(--space);
    align-items: center;
    margin-bottom: var(--space);
    button:last-child {
      margin-left: auto;
    }
  }
  