.loading {
 opacity: .8;
 animation-name : loading;
 animation-duration: 3s;
 animation-iteration-count: infinite;
 .product {
     min-height: 280px;
     background-color: var(--color-gray-light);
 }
}

@keyframes loading { 
    0%, 100% {
        opacity: .8;
    }
    50% {
        opacity: .5;
    }

}